create database [YumFilm3]
go

USE [YumFilm3]
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 10/15/2024 2:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor](
	[ActorId] [int] IDENTITY(1,1) NOT NULL,
	[ActorName] [nvarchar](100) NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(0
	[ActorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActorOfFilm]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActorOfFilm](
	[ActorOfFilmId] [int] IDENTITY(1,1) NOT NULL,
	[ActorId] [int] NOT NULL,
	[FilmDetailId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ActorOfFilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaRoom]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaRoom](
	[CinemaRoomId] [int] IDENTITY(1,1) NOT NULL,
	[NameRoom] [nvarchar](50) NULL,
	[Status] [bit] NOT NULL,
	[SeatLocationId] [int] NULL,
	[ShowTimeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CinemaRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryId] [nvarchar](20) NOT NULL,
	[CountryName] [nvarchar](100) NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Director]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Director](
	[DirectorId] [int] IDENTITY(1,1) NOT NULL,
	[DirectorName] [nvarchar](100) NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DirectorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DirectorOfFilm]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DirectorOfFilm](
	[DirectorOfFilmId] [int] IDENTITY(1,1) NOT NULL,
	[DirectorId] [int] NOT NULL,
	[FilmDetailId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DirectorOfFilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[FilmId] [int] IDENTITY(1,1) NOT NULL,
	[FilmImage] [nvarchar](255) NOT NULL,
	[FilmName] [nvarchar](255) NOT NULL,
	[FilmTime] [nvarchar](255) NOT NULL,
	[PremiereDate] [date] NOT NULL,
	[Price] [float] NOT NULL,
	[Status] [bit] NOT NULL,
	[VideoTrailer] [nvarchar](255) NOT NULL,
	[CountryId] [nvarchar](20) NULL,
	[Age] [int] NULL,
	[Rate] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmDetail]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmDetail](
	[FilmDetailId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ProductionDate] [date] NOT NULL,
	[Status] [bit] NOT NULL,
	[FilmId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FilmDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmGenres]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmGenres](
	[FilmGenresId] [int] IDENTITY(1,1) NOT NULL,
	[FilmId] [int] NULL,
	[FilmTypeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FilmGenresId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmType]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmType](
	[FilmTypeId] [int] IDENTITY(1,1) NOT NULL,
	[FilmTypeName] [nvarchar](100) NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FilmTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[FoodId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[FoodName] [nvarchar](255) NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[FoodImage] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceId] [bigint] IDENTITY(1,1) NOT NULL,
	[CreateDate] [datetime] NULL,
	[Note] [nvarchar](255) NULL,
	[PaymentStatus] [bit] NULL,
	[Status] [bit] NULL,
	[Total] [float] NULL,
	[PaymentId] [int] NULL,
	[UserId] [bigint] NULL,
	[VoucherId] [bigint] NULL,
 CONSTRAINT [PK__Invoice__D796AAB5629005A9] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetail](
	[InvoiceDetailId] [bigint] IDENTITY(1,1) NOT NULL,
	[Note] [varchar](255) NULL,
	[Price] [float] NULL,
	[InvoiceId] [bigint] NULL,
	[SeatLocationId] [int] NULL,
	[ShowTimeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderFood]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderFood](
	[OrderFoodId] [bigint] IDENTITY(1,1) NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[FoodId] [int] NULL,
	[InvoiceId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderFoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentName] [nvarchar](255) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producer]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer](
	[ProducerId] [int] IDENTITY(1,1) NOT NULL,
	[ProducerName] [nvarchar](100) NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProducerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProducerOfFilm]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProducerOfFilm](
	[ProducerOfFilmId] [int] IDENTITY(1,1) NOT NULL,
	[FilmDetailId] [int] NOT NULL,
	[ProducerId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProducerOfFilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatLocation]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatLocation](
	[SeatLocationId] [int] IDENTITY(1,1) NOT NULL,
	[SeatNumber] [nvarchar](20) NULL,
	[Status] [bit] NOT NULL,
	[SeatTypeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatType]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatType](
	[SeatTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Price] [float] NOT NULL,
	[SeatTypeName] [nvarchar](50) NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShowTime]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShowTime](
	[ShowTimeId] [int] IDENTITY(1,1) NOT NULL,
	[Price] [float] NOT NULL,
	[ShowTimeDate] [date] NOT NULL,
	[Status] [bit] NOT NULL,
	[FilmId] [int] NULL,
	[ShowTimeListId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowTimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShowTimeList]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShowTimeList](
	[ShowTimeListId] [int] IDENTITY(1,1) NOT NULL,
	[ShowTimeFrame] [nvarchar](100) NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowTimeListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShowTimeSeatType]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShowTimeSeatType](
	[ShowTimeSeatTypeId] [bigint] IDENTITY(1,1) NOT NULL,
	[Price] [float] NOT NULL,
	[SeatTypeId] [int] NULL,
	[ShowTimeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowTimeSeatTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[Birthdate] [date] NULL,
	[Email] [nvarchar](255) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Password] [nchar](60) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Role] [bit] NULL,
	[Sex] [bit] NULL,
	[Status] [bit] NULL,
	[Username] [nvarchar](255) NULL,
 CONSTRAINT [PK__Users__1788CC4C605F5AC2] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 10/15/2024 2:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherId] [bigint] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[VoucherName] [nvarchar](255) NOT NULL,
	[VoucherValue] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actor] ON 

INSERT [dbo].[Actor] ([ActorId], [ActorName], [Status]) VALUES (1, N'Lý Hải', 1)
INSERT [dbo].[Actor] ([ActorId], [ActorName], [Status]) VALUES (2, N'Thanh Hiền', 1)
INSERT [dbo].[Actor] ([ActorId], [ActorName], [Status]) VALUES (3, N'Thái Vũ', 1)
SET IDENTITY_INSERT [dbo].[Actor] OFF
GO
SET IDENTITY_INSERT [dbo].[ActorOfFilm] ON 

INSERT [dbo].[ActorOfFilm] ([ActorOfFilmId], [ActorId], [FilmDetailId]) VALUES (1, 1, 1)
INSERT [dbo].[ActorOfFilm] ([ActorOfFilmId], [ActorId], [FilmDetailId]) VALUES (2, 2, 1)
INSERT [dbo].[ActorOfFilm] ([ActorOfFilmId], [ActorId], [FilmDetailId]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[ActorOfFilm] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaRoom] ON 

INSERT [dbo].[CinemaRoom] ([CinemaRoomId], [NameRoom], [Status], [SeatLocationId], [ShowTimeId]) VALUES (2, N'A1', 1, 1, 5)
INSERT [dbo].[CinemaRoom] ([CinemaRoomId], [NameRoom], [Status], [SeatLocationId], [ShowTimeId]) VALUES (3, N'A1', 1, 1, 9)
INSERT [dbo].[CinemaRoom] ([CinemaRoomId], [NameRoom], [Status], [SeatLocationId], [ShowTimeId]) VALUES (8, N'A1', 1, 1, 2)
SET IDENTITY_INSERT [dbo].[CinemaRoom] OFF
GO
INSERT [dbo].[Country] ([CountryId], [CountryName], [Status]) VALUES (N'CN', N'Trung Quốc', 1)
INSERT [dbo].[Country] ([CountryId], [CountryName], [Status]) VALUES (N'ID', N'Indonesia', 1)
INSERT [dbo].[Country] ([CountryId], [CountryName], [Status]) VALUES (N'IT', N'Ý', 1)
GO
SET IDENTITY_INSERT [dbo].[Director] ON 

INSERT [dbo].[Director] ([DirectorId], [DirectorName], [Status]) VALUES (1, N'Lý Hải', 1)
INSERT [dbo].[Director] ([DirectorId], [DirectorName], [Status]) VALUES (2, N'Park Hoon-jung', 1)
INSERT [dbo].[Director] ([DirectorId], [DirectorName], [Status]) VALUES (3, N'Trấn Thành', 1)
SET IDENTITY_INSERT [dbo].[Director] OFF
GO
SET IDENTITY_INSERT [dbo].[DirectorOfFilm] ON 

INSERT [dbo].[DirectorOfFilm] ([DirectorOfFilmId], [DirectorId], [FilmDetailId]) VALUES (1, 1, 1)
INSERT [dbo].[DirectorOfFilm] ([DirectorOfFilmId], [DirectorId], [FilmDetailId]) VALUES (2, 2, 2)
INSERT [dbo].[DirectorOfFilm] ([DirectorOfFilmId], [DirectorId], [FilmDetailId]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[DirectorOfFilm] OFF
GO
SET IDENTITY_INSERT [dbo].[Film] ON 

INSERT [dbo].[Film] ([FilmId], [FilmImage], [FilmName], [FilmTime], [PremiereDate], [Price], [Status], [VideoTrailer], [CountryId], [Age], [Rate]) VALUES (1, N'latmat7.png', N'Lật Mật 7', N'2 giờ 18 phút', CAST(N'2024-04-26' AS Date), 100000, 1, N'latmat7', N'VN', 13, 8.9)
INSERT [dbo].[Film] ([FilmId], [FilmImage], [FilmName], [FilmTime], [PremiereDate], [Price], [Status], [VideoTrailer], [CountryId], [Age], [Rate]) VALUES (2, N'stnt2_social_1_.jpg', N'Sát Thủ Nhân Tạo', N'2 giờ 5 phút', CAST(N'2024-07-27' AS Date), 100000, 1, N'satthunhantao', N'KR', 16, 8.5)
INSERT [dbo].[Film] ([FilmId], [FilmImage], [FilmName], [FilmTime], [PremiereDate], [Price], [Status], [VideoTrailer], [CountryId], [Age], [Rate]) VALUES (3, N'mai.png', N'Mai', N'2 giờ 10 phút', CAST(N'2024-02-10' AS Date), 100000, 1, N'mai', N'VN', 18, 8.2)
SET IDENTITY_INSERT [dbo].[Film] OFF
GO
SET IDENTITY_INSERT [dbo].[FilmDetail] ON 

INSERT [dbo].[FilmDetail] ([FilmDetailId], [Description], [ProductionDate], [Status], [FilmId]) VALUES (1, N'Một câu chuyện lần đầu được kể bằng tất cả tình yêu, và từ tất cả những hồi ức xao xuyến nhất của đấng sinh thành', CAST(N'2024-04-26' AS Date), 1, 1)
INSERT [dbo].[FilmDetail] ([FilmDetailId], [Description], [ProductionDate], [Status], [FilmId]) VALUES (3, N'Một câu chuyện kể về chuyện tình cảm của một cô gái làm nghề massage tên Mai và một chàng trai tên Sâu', CAST(N'2024-01-01' AS Date), 1, 3)
SET IDENTITY_INSERT [dbo].[FilmDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[FilmGenres] ON 

INSERT [dbo].[FilmGenres] ([FilmGenresId], [FilmId], [FilmTypeId]) VALUES (1, 1, 8)
INSERT [dbo].[FilmGenres] ([FilmGenresId], [FilmId], [FilmTypeId]) VALUES (2, 1, 17)
INSERT [dbo].[FilmGenres] ([FilmGenresId], [FilmId], [FilmTypeId]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[FilmGenres] OFF
GO
SET IDENTITY_INSERT [dbo].[FilmType] ON 

INSERT [dbo].[FilmType] ([FilmTypeId], [FilmTypeName], [Status]) VALUES (1, N'Hành động', 1)
INSERT [dbo].[FilmType] ([FilmTypeId], [FilmTypeName], [Status]) VALUES (2, N'Lãng mạn', 1)
INSERT [dbo].[FilmType] ([FilmTypeId], [FilmTypeName], [Status]) VALUES (3, N'Hài hước', 1)
SET IDENTITY_INSERT [dbo].[FilmType] OFF
GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([FoodId], [Description], [FoodName], [Price], [Quantity], [Status], [FoodImage]) VALUES (1, N'1 bắp, 2 nước', N'Combo Optimust', 140000, 1, 1, N'optimusFood.jpg')
INSERT [dbo].[Food] ([FoodId], [Description], [FoodName], [Price], [Quantity], [Status], [FoodImage]) VALUES (2, N'1 bắp, 1 nước', N'Combo FA', 100000, 1, 1, N'FAFood.jpg')
INSERT [dbo].[Food] ([FoodId], [Description], [FoodName], [Price], [Quantity], [Status], [FoodImage]) VALUES (3, N'1 Coca', N'Cocacola', 50000, 1, 1, N'Pepsi.jpg')
SET IDENTITY_INSERT [dbo].[Food] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([InvoiceId], [CreateDate], [Note], [PaymentStatus], [Status], [Total], [PaymentId], [UserId], [VoucherId]) VALUES (72, CAST(N'2024-06-06T08:22:41.630' AS DateTime), NULL, 0, 1, 520000, NULL, NULL, NULL)
INSERT [dbo].[Invoice] ([InvoiceId], [CreateDate], [Note], [PaymentStatus], [Status], [Total], [PaymentId], [UserId], [VoucherId]) VALUES (73, CAST(N'2024-06-06T08:24:06.167' AS DateTime), NULL, 0, 1, 95953055, NULL, NULL, NULL)
INSERT [dbo].[Invoice] ([InvoiceId], [CreateDate], [Note], [PaymentStatus], [Status], [Total], [PaymentId], [UserId], [VoucherId]) VALUES (74, CAST(N'2024-07-06T08:25:16.317' AS DateTime), NULL, 0, 1, 28488898, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetail] ON 

INSERT [dbo].[InvoiceDetail] ([InvoiceDetailId], [Note], [Price], [InvoiceId], [SeatLocationId], [ShowTimeId]) VALUES (1, NULL, 100000, 72, 2, 2)
INSERT [dbo].[InvoiceDetail] ([InvoiceDetailId], [Note], [Price], [InvoiceId], [SeatLocationId], [ShowTimeId]) VALUES (2, NULL, 100000, 73, 1, 2)
INSERT [dbo].[InvoiceDetail] ([InvoiceDetailId], [Note], [Price], [InvoiceId], [SeatLocationId], [ShowTimeId]) VALUES (3, NULL, 100000, 73, 9, 2)
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderFood] ON 

INSERT [dbo].[OrderFood] ([OrderFoodId], [Price], [Quantity], [FoodId], [InvoiceId]) VALUES (1, 140000, 1, 1, 72)
INSERT [dbo].[OrderFood] ([OrderFoodId], [Price], [Quantity], [FoodId], [InvoiceId]) VALUES (2, 140000, 1, 1, 73)
INSERT [dbo].[OrderFood] ([OrderFoodId], [Price], [Quantity], [FoodId], [InvoiceId]) VALUES (3, 100000, 1, 2, 73)
GO
SET IDENTITY_INSERT [dbo].[OrderFood] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentId], [PaymentName], [Status]) VALUES (1, N'Ví Momo', 1)
INSERT [dbo].[Payment] ([PaymentId], [PaymentName], [Status]) VALUES (2, N'Ví VNPay', 1)
INSERT [dbo].[Payment] ([PaymentId], [PaymentName], [Status]) VALUES (3, N'Tiền mặt', 1)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Producer] ON 

INSERT [dbo].[Producer] ([ProducerId], [ProducerName], [Status]) VALUES (1, N'Lý Hải', 1)
SET IDENTITY_INSERT [dbo].[Producer] OFF
GO
SET IDENTITY_INSERT [dbo].[ProducerOfFilm] ON 

INSERT [dbo].[ProducerOfFilm] ([ProducerOfFilmId], [FilmDetailId], [ProducerId]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[ProducerOfFilm] OFF
GO
SET IDENTITY_INSERT [dbo].[SeatLocation] ON 

INSERT [dbo].[SeatLocation] ([SeatLocationId], [SeatNumber], [Status], [SeatTypeId]) VALUES (1, N'A1', 1, 1)
INSERT [dbo].[SeatLocation] ([SeatLocationId], [SeatNumber], [Status], [SeatTypeId]) VALUES (2, N'A2', 1, 1)
INSERT [dbo].[SeatLocation] ([SeatLocationId], [SeatNumber], [Status], [SeatTypeId]) VALUES (3, N'A3', 1, 1)
SET IDENTITY_INSERT [dbo].[SeatLocation] OFF
GO
SET IDENTITY_INSERT [dbo].[SeatType] ON 

INSERT [dbo].[SeatType] ([SeatTypeId], [Price], [SeatTypeName], [Status]) VALUES (1, 1, N'Ghế thường', 1)
INSERT [dbo].[SeatType] ([SeatTypeId], [Price], [SeatTypeName], [Status]) VALUES (2, 1.3, N'Ghế VIP', 1)
SET IDENTITY_INSERT [dbo].[SeatType] OFF
GO
SET IDENTITY_INSERT [dbo].[ShowTime] ON 

INSERT [dbo].[ShowTime] ([ShowTimeId], [Price], [ShowTimeDate], [Status], [FilmId], [ShowTimeListId]) VALUES (2, 1, CAST(N'2024-05-20' AS Date), 1, 1, 1)
INSERT [dbo].[ShowTime] ([ShowTimeId], [Price], [ShowTimeDate], [Status], [FilmId], [ShowTimeListId]) VALUES (3, 1, CAST(N'2024-05-20' AS Date), 1, 1, 2)
INSERT [dbo].[ShowTime] ([ShowTimeId], [Price], [ShowTimeDate], [Status], [FilmId], [ShowTimeListId]) VALUES (4, 1, CAST(N'2024-05-20' AS Date), 1, 1, 3)
SET IDENTITY_INSERT [dbo].[ShowTime] OFF
GO
SET IDENTITY_INSERT [dbo].[ShowTimeList] ON 

INSERT [dbo].[ShowTimeList] ([ShowTimeListId], [ShowTimeFrame], [Status]) VALUES (1, N'8:00 - 11:00', 1)
INSERT [dbo].[ShowTimeList] ([ShowTimeListId], [ShowTimeFrame], [Status]) VALUES (2, N'8:15 - 11:15', 1)
INSERT [dbo].[ShowTimeList] ([ShowTimeListId], [ShowTimeFrame], [Status]) VALUES (3, N'8:30 - 11:30', 1)
SET IDENTITY_INSERT [dbo].[ShowTimeList] OFF
GO
SET IDENTITY_INSERT [dbo].[ShowTimeSeatType] ON 

INSERT [dbo].[ShowTimeSeatType] ([ShowTimeSeatTypeId], [Price], [SeatTypeId], [ShowTimeId]) VALUES (1, 1, 1, 2)
INSERT [dbo].[ShowTimeSeatType] ([ShowTimeSeatTypeId], [Price], [SeatTypeId], [ShowTimeId]) VALUES (2, 1.3, 2, 2)
INSERT [dbo].[ShowTimeSeatType] ([ShowTimeSeatTypeId], [Price], [SeatTypeId], [ShowTimeId]) VALUES (3, 1.3, 2, 3)
SET IDENTITY_INSERT [dbo].[ShowTimeSeatType] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Birthdate], [Email], [FirstName], [LastName], [Password], [PhoneNumber], [Role], [Sex], [Status], [Username]) VALUES (1, CAST(N'2001-01-01' AS Date), N'anv01@gmail.com', N'An', N'Nguyễn', N'anv123                                                      ', N'0112441224', 1, 1, 1, N'anv001')
INSERT [dbo].[Users] ([UserId], [Birthdate], [Email], [FirstName], [LastName], [Password], [PhoneNumber], [Role], [Sex], [Status], [Username]) VALUES (2, CAST(N'2001-01-01' AS Date), N'anv02@gmail.com', N'Bảo', N'Nguyễn', N'anv123                                                      ', N'0221647912', 1, 1, 1, N'anv002')
INSERT [dbo].[Users] ([UserId], [Birthdate], [Email], [FirstName], [LastName], [Password], [PhoneNumber], [Role], [Sex], [Status], [Username]) VALUES (3, CAST(N'2001-01-01' AS Date), N'anv03@gmail.com', N'Cúc', N'Nguyễn', N'anv123                                                      ', N'0974563484', 1, 1, 1, N'anv003')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK23y4gd49ajvbqgl3psjsvhff6]    Script Date: 10/15/2024 2:38:04 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UK23y4gd49ajvbqgl3psjsvhff6] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActorOfFilm]  WITH CHECK ADD  CONSTRAINT [FK1ykx6tbq9ocaai10k87q9nnli] FOREIGN KEY([ActorId])
REFERENCES [dbo].[Actor] ([ActorId])
GO
ALTER TABLE [dbo].[ActorOfFilm] CHECK CONSTRAINT [FK1ykx6tbq9ocaai10k87q9nnli]
GO
ALTER TABLE [dbo].[ActorOfFilm]  WITH CHECK ADD  CONSTRAINT [FKs0fpkuarw4fyt0fmb68v00bc3] FOREIGN KEY([FilmDetailId])
REFERENCES [dbo].[FilmDetail] ([FilmDetailId])
GO
ALTER TABLE [dbo].[ActorOfFilm] CHECK CONSTRAINT [FKs0fpkuarw4fyt0fmb68v00bc3]
GO
ALTER TABLE [dbo].[CinemaRoom]  WITH CHECK ADD  CONSTRAINT [FK1mydony2ilkcnel9bk76chh3t] FOREIGN KEY([SeatLocationId])
REFERENCES [dbo].[SeatLocation] ([SeatLocationId])
GO
ALTER TABLE [dbo].[CinemaRoom] CHECK CONSTRAINT [FK1mydony2ilkcnel9bk76chh3t]
GO
ALTER TABLE [dbo].[CinemaRoom]  WITH CHECK ADD  CONSTRAINT [FK1vk0kw8ko59fcv468o19rgvct] FOREIGN KEY([ShowTimeId])
REFERENCES [dbo].[ShowTime] ([ShowTimeId])
GO
ALTER TABLE [dbo].[CinemaRoom] CHECK CONSTRAINT [FK1vk0kw8ko59fcv468o19rgvct]
GO
ALTER TABLE [dbo].[DirectorOfFilm]  WITH CHECK ADD  CONSTRAINT [FKfchst21chx8lqbn7o4u93wdeh] FOREIGN KEY([DirectorId])
REFERENCES [dbo].[Director] ([DirectorId])
GO
ALTER TABLE [dbo].[DirectorOfFilm] CHECK CONSTRAINT [FKfchst21chx8lqbn7o4u93wdeh]
GO
ALTER TABLE [dbo].[DirectorOfFilm]  WITH CHECK ADD  CONSTRAINT [FKhhetruosxveuif093qu3gok3h] FOREIGN KEY([FilmDetailId])
REFERENCES [dbo].[FilmDetail] ([FilmDetailId])
GO
ALTER TABLE [dbo].[DirectorOfFilm] CHECK CONSTRAINT [FKhhetruosxveuif093qu3gok3h]
GO
ALTER TABLE [dbo].[Film]  WITH CHECK ADD  CONSTRAINT [FKptxx5iilnq320fcm9apamoypb] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([CountryId])
GO
ALTER TABLE [dbo].[Film] CHECK CONSTRAINT [FKptxx5iilnq320fcm9apamoypb]
GO
ALTER TABLE [dbo].[FilmDetail]  WITH CHECK ADD  CONSTRAINT [FKiu57yh5faegd8vrk6t6gaah86] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([FilmId])
GO
ALTER TABLE [dbo].[FilmDetail] CHECK CONSTRAINT [FKiu57yh5faegd8vrk6t6gaah86]
GO
ALTER TABLE [dbo].[FilmGenres]  WITH CHECK ADD  CONSTRAINT [FKg1u1mlwgws3ulo9ecxh9bf8g1] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([FilmId])
GO
ALTER TABLE [dbo].[FilmGenres] CHECK CONSTRAINT [FKg1u1mlwgws3ulo9ecxh9bf8g1]
GO
ALTER TABLE [dbo].[FilmGenres]  WITH CHECK ADD  CONSTRAINT [FKsxpww56la1bc2yainq1x555ah] FOREIGN KEY([FilmTypeId])
REFERENCES [dbo].[FilmType] ([FilmTypeId])
GO
ALTER TABLE [dbo].[FilmGenres] CHECK CONSTRAINT [FKsxpww56la1bc2yainq1x555ah]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FKetqu5y167m0yweid08ras6d7d] FOREIGN KEY([VoucherId])
REFERENCES [dbo].[Voucher] ([VoucherId])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FKetqu5y167m0yweid08ras6d7d]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FKhfvoq26re1o3k1wytmuhhym6] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FKhfvoq26re1o3k1wytmuhhym6]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FKp50vunrhhkl6da5okyf7qgkry] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payment] ([PaymentId])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FKp50vunrhhkl6da5okyf7qgkry]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK6s6klrfavswileao1xm6u7sdp] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoice] ([InvoiceId])
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FK6s6klrfavswileao1xm6u7sdp]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FKsheducqo7v3wbb1hd3caojno1] FOREIGN KEY([ShowTimeId])
REFERENCES [dbo].[ShowTime] ([ShowTimeId])
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FKsheducqo7v3wbb1hd3caojno1]
GO
ALTER TABLE [dbo].[OrderFood]  WITH CHECK ADD  CONSTRAINT [FK8g7gpnhjgra66m9jpv11cl4ak] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoice] ([InvoiceId])
GO
ALTER TABLE [dbo].[OrderFood] CHECK CONSTRAINT [FK8g7gpnhjgra66m9jpv11cl4ak]
GO
ALTER TABLE [dbo].[OrderFood]  WITH CHECK ADD  CONSTRAINT [FKol6l5hrbjmqobnwsrd7wbja55] FOREIGN KEY([FoodId])
REFERENCES [dbo].[Food] ([FoodId])
GO
ALTER TABLE [dbo].[OrderFood] CHECK CONSTRAINT [FKol6l5hrbjmqobnwsrd7wbja55]
GO
ALTER TABLE [dbo].[ProducerOfFilm]  WITH CHECK ADD  CONSTRAINT [FKjlv6muydjr1xot3dprldwhoo2] FOREIGN KEY([ProducerId])
REFERENCES [dbo].[Producer] ([ProducerId])
GO
ALTER TABLE [dbo].[ProducerOfFilm] CHECK CONSTRAINT [FKjlv6muydjr1xot3dprldwhoo2]
GO
ALTER TABLE [dbo].[ProducerOfFilm]  WITH CHECK ADD  CONSTRAINT [FKr7l8r63s8joorbyv0fm9ypog3] FOREIGN KEY([FilmDetailId])
REFERENCES [dbo].[FilmDetail] ([FilmDetailId])
GO
ALTER TABLE [dbo].[ProducerOfFilm] CHECK CONSTRAINT [FKr7l8r63s8joorbyv0fm9ypog3]
GO
ALTER TABLE [dbo].[SeatLocation]  WITH CHECK ADD  CONSTRAINT [FKj8ixdxkpap3bgl0eph95wc2d2] FOREIGN KEY([SeatTypeId])
REFERENCES [dbo].[SeatType] ([SeatTypeId])
GO
ALTER TABLE [dbo].[SeatLocation] CHECK CONSTRAINT [FKj8ixdxkpap3bgl0eph95wc2d2]
GO
ALTER TABLE [dbo].[ShowTime]  WITH CHECK ADD  CONSTRAINT [FKfmbmv5uj77w8482d7ka0ft2mf] FOREIGN KEY([ShowTimeListId])
REFERENCES [dbo].[ShowTimeList] ([ShowTimeListId])
GO
ALTER TABLE [dbo].[ShowTime] CHECK CONSTRAINT [FKfmbmv5uj77w8482d7ka0ft2mf]
GO
ALTER TABLE [dbo].[ShowTime]  WITH CHECK ADD  CONSTRAINT [FKj14lsrr7qutxqh790urlqbdfo] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([FilmId])
GO
ALTER TABLE [dbo].[ShowTime] CHECK CONSTRAINT [FKj14lsrr7qutxqh790urlqbdfo]
GO
ALTER TABLE [dbo].[ShowTimeSeatType]  WITH CHECK ADD  CONSTRAINT [FKn3tjbgs6knqdpnrov1bqs1dej] FOREIGN KEY([SeatTypeId])
REFERENCES [dbo].[SeatType] ([SeatTypeId])
GO
ALTER TABLE [dbo].[ShowTimeSeatType] CHECK CONSTRAINT [FKn3tjbgs6knqdpnrov1bqs1dej]
GO
ALTER TABLE [dbo].[ShowTimeSeatType]  WITH CHECK ADD  CONSTRAINT [FKsyvbi9hsc7bfhtlmu8xtf9dva] FOREIGN KEY([ShowTimeId])
REFERENCES [dbo].[ShowTime] ([ShowTimeId])
GO
ALTER TABLE [dbo].[ShowTimeSeatType] CHECK CONSTRAINT [FKsyvbi9hsc7bfhtlmu8xtf9dva]
GO
